.button {
  font: inherit;
  padding: 0.5rem 4.5rem;
  border: none;
  border-radius: 16px;
  border: none;
  background: #45b480;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #296d4d;
  transition: 0.5s ease-out;
}

.button--inverse {
  background: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
}

.button--inverse:hover,
.button--inverse:active {
  color: #45b480;
  background: white;
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: rgb(238, 88, 88);
  color: white;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
