.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  color: rgb(68, 68, 68);
  font: inherit;
  border: 1px solid #fff;
  background: rgb(240, 240, 240);

  padding: 0.35rem 0.25rem;
  border-radius: 16px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
}

.form-control--invalid label,
.form-control--invalid p {
  color: rgb(226 13 13);
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: rgb(226 13 13);
}
