.place-form {
  position: relative;
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 4px 8px 16px rgb(0 0 0 / 26%);
  border-radius: 6px;
  color: #555555;
  background: white;
}
